/*  GLOBALS */
html{
  background:#010038;
  color:#fff;
  font-family: 'EB Garamond', serif;
}
.notFound{
  font-size: 46px;
  margin:auto;
  color: #8b0404;
}
.back{ 
  font-size: 56px;
  color:#fff;
  margin-top:120px;
  margin-left:30px;
  opacity:0.8;
  animation: anim 4s infinite;

  &:hover{
    color:rgb(60, 226, 135);
  }

  @keyframes anim {
    0%{
      margin-left: 30px;
    }
    25%{
      margin-left: 5px;
    }
    50%{
      margin-left: 30px;
    }
    75%{
      margin-left: 5px;
    }
    100%{
      margin-left: 30px;
    }
  }
}

/*  HEADER */
.headerTitle{
  margin-top:100px;
  text-align: center;
  font-size:42px;
}
.headerParagraph{
  font-size: 21px;
  text-align: center;
}

/*  NAVBAR */
.navBar{
  height:70px;
  display: flex;
  //background:rgb(52, 163, 207);
  background:#293A80;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  justify-content: center;
}
.searchDiv{
  margin-left:295px;
  margin-block:auto;
  display: flex;
  flex-direction: row;
  .searchInput{
      height: 40px;
      margin-block: auto;
  }
}
.navLinks{
  padding:10px;
  margin-block:auto;
  font-size: 25px;
  text-decoration: none;
  color:rgb(245, 196, 122);
  align-items: center;
  margin-inline: 25px;
  background:#537EC5;
  width:145px;
  text-align: center;

  &:hover{
      background:rgba(255,255,255,0.14);
  }    
}
.fas{
  color:#F39422; 
  margin-inline: 0;
  background:none;
  width: 95px;
  font-size: 34px;

  &:hover{
      color:greenyellow;
      transition: 1.5s cubic-bezier();
      background:none;
  }
}

/*  MAIN */
.main{
  width:90%;
  margin-inline: auto;
  background:rgba(0,0,0,0.1);
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  padding:35px;
  justify-content: center;
}
.recipeDiv{
  width: 196px;
  height: 196px;
  background:red;
  margin: 7.5px;
  align-self: center;
  

  img{
      width: inherit;
      height: inherit;
      object-fit: cover;
      z-index: 0;
      position: absolute;
  }
  .recipeTitle{
      color:#fff;
      z-index: 3;
      position: absolute;
      width: inherit;
      height: 50px;
      text-align: center;
      font-size: 26px;
      background:rgba(0,0,0,0.81);
      margin-top:146px;
      font-weight: bold;
  }
  
  &:hover{
          opacity:0.25;
          transition:cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}

/* Recipe details */
.recipeDetails{
  margin-top:15px;
  width:95%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;

  .leftPanel{
    //background: #537EC5;
    flex:1;
    min-height: 200px;

    .details{
      min-height: 200px;
      background:#fff;
      width:650px;
      margin: auto;
      padding: 95px;
      padding-block:25px;
      margin-top: 85px;
      .text{
        color:#000;
        font-size: 22px;
        margin-top: 55px;
      }
    }
  }
  .rightPanel{
    //background: #8b0404;
    flex:1;
    min-height: 200px;
    display: flex;
    flex-direction: column;

    .img{
      min-height: 400px;
      background:rgb(201, 76, 76);
      flex:1;
      margin: auto;
      width:600px;
      object-fit: cover;
      object-position: center;
    }
    .ingredients{
      margin-top: 15px;
      min-height: 100px;
      flex:1;
      margin: auto;
      background:url('https://i.postimg.cc/Y9Rhf0jP/jajks.png');
      background-size: 100%;
      padding-inline:150px;
      padding-block:50px;

      .list{
        margin:auto;
        list-style: circle;
        margin-top: 50px;
        width:320px;
        padding-block: 10px;
        .listName{
          color:#000;
          font-size: 26px;
          text-align: center;
          font-weight: bold;
        }
      }
      .listItem{
        font-size: 21px;
        color:#000;
        padding:7.5px;
        text-align: center;

      }
    }
  }
}

@import 'variables';

