/* Log In Container */
.loginContainer{
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    width: 40%;
    padding:10px;
  
    .loginTitle{
      text-align: center;
      font-size:42px;
    }
  
    .loginInput{
      width:320px;
      height:30px;
      font-size: 20px;
      margin:auto;
      margin-block:25px;
      border-radius: 4px;
      border:none;
  
      &::placeholder{
        text-align: center;
        color:rgba(0,0,0,0.81);
      }
    }
  
    label{
      text-align: center;
      font-size: 22px;
      margin-bottom: 5px;
      color:lightpink;
    }
  
    .submitButton{
      width:140px;
      height: 40px;
      font-size: 20px;
      background:lightgreen;
      margin: auto;
      margin-block:25px;
      border-radius: 10px;
    }
  
    p{
      text-align: center;
      font-size:24px;
    }
  
    a{
      text-align: center;
      font-size:28px;
      text-decoration: none;
      color:salmon;
  
      &:hover{
        color:slateblue;
      }
    }
  }